CONST
      /* Main application ID*/
      IDMain=1000  /* Main Application ID */

      /* Menu command values */
      CM_TILE=100
      CM_CASCADE=101
      CM_CLOSE=102
      CM_CLOSEALL=103
      CM_NEXT=104
      CM_OPEN=105
      CM_SAVEAS=106
      CM_NEW=107
      CM_SAVE=108
      CM_SAVEALL=109
      CM_ABOUT=110

      CM_COMPOPT=200
      CM_MEMSIZES=201
      CM_LINKOPT=202
      CM_DIRECTORIES=203
      CM_PREFERENCES=204
      CM_EDOPT=205
      CM_FIND=206
      CM_REPLACE=207
      CM_GOTO=208
      CM_PARAMETER=209
      CM_PRJ=210

      CM_HELPFORHELP=30000
      CM_EXTENDEDHELP=30001
      CM_KEYSHELP=30002
      CM_HELPINDEX=30003
END


ICON 1001 CHILD.ICO

ICON IDMain SPEED.ICO

ACCELTABLE IDMain
BEGIN
     VK_F3,CM_OPEN,VIRTUALKEY             /* Open */
     VK_F2,CM_SAVE,VIRTUALKEY             /* Save */
     VK_F6,CM_NEXT,VIRTUALKEY             /* Next Window */
     VK_F3,CM_CLOSE,VIRTUALKEY|ALT        /* Close Window */
     VK_F1,CM_HELPINDEX,VIRTUALKEY      /* Help for Help */
END

HELPSUBTABLE IDMain
BEGIN
/*            Item ID              Help Panel ID  */
  HELPSUBITEM CM_HELPFORHELP,      0
  HELPSUBITEM CM_EXTENDEDHELP,     CM_EXTENDEDHELP
  HELPSUBITEM CM_KEYSHELP,         0
  HELPSUBITEM CM_HELPINDEX,        0
END

HELPTABLE IDMain
BEGIN
/*         Window ID          Help Sub-Table ID     Help Panel ID    */
  HELPITEM IDMain,            IDMain,               CM_EXTENDEDHELP
END


MENU IDMain
BEGIN
    SUBMENU "~File",1
    BEGIN
      MENUITEM "~New",CM_NEW
      MENUITEM "~Open...       F3",CM_OPEN
      MENUITEM "~Save         F2",CM_SAVE
      MENUITEM "Save ~as...",CM_SAVEAS
      MENUITEM "Save a~ll",CM_SAVEALL
      MENUITEM SEPARATOR
      MENUITEM "A~bout...",CM_ABOUT
    END
    SUBMENU "~Edit",1
    BEGIN
      MENUITEM "~Undo",1
      MENUITEM "~Redo",1
      MENUITEM SEPARATOR
      MENUITEM "Cu~t",1
      MENUITEM "~Copy",1
      MENUITEM "~Paste",1
    END
    SUBMENU "~Search",1
    BEGIN
      MENUITEM "~Find...",CM_FIND
      MENUITEM "~Replace...",CM_REPLACE
      MENUITEM "~Search again",1
      MENUITEM SEPARATOR
      MENUITEM "~Go to line number...",CM_GOTO
      MENUITEM "Show last ~error",1
    END
    SUBMENU "~Run",1
    BEGIN
         MENUITEM "~Run         Ctrl+F9",1
         MENUITEM SEPARATOR
         MENUITEM "~Parameters...",CM_PARAMETER
    END
    SUBMENU "~Compile",1
    BEGIN
         MENUITEM "~Compile            Alt+F9",1
         MENUITEM "~Make                    F9",1
         MENUITEM "~Build",1
         MENUITEM SEPARATOR
         MENUITEM "~Primary file...",1
         MENUITEM "C~lear primary file",1
         MENUITEM SEPARATOR
         MENUITEM "~Project control",CM_PRJ
         MENUITEM SEPARATOR
         MENUITEM "Show ~assembler source",1
    END
    SUBMENU "~Options",1
    BEGIN
      MENUITEM "~Compiler...",CM_COMPOPT
      MENUITEM "~Memory sizes...",CM_MEMSIZES
      MENUITEM "~Linker...",CM_LINKOPT
      MENUITEM "~Directories...",CM_DIRECTORIES
      MENUITEM SEPARATOR
      SUBMENU "~Environment",1
      BEGIN
           MENUITEM "~Preferences...",CM_PREFERENCES
           MENUITEM "~Editor...",CM_EDOPT
      END
      MENUITEM SEPARATOR
      MENUITEM "~Open...",1
      MENUITEM "~Save",1
      MENUITEM "Save ~as...",1
    END
    SUBMENU "~Window",1
    BEGIN
      MENUITEM "~Tile",CM_TILE
      MENUITEM "C~ascade",CM_CASCADE
      MENUITEM "Cl~ose all",CM_CLOSEALL
      MENUITEM SEPARATOR
      MENUITEM "~Next              F6",CM_NEXT
      MENUITEM "~Close         Alt+F3",CM_CLOSE
    END
    SUBMENU "~Help",1
    BEGIN
         MENUITEM "~Index               F1",CM_HELPINDEX
         MENUITEM "~Help on Help",CM_HELPFORHELP
         MENUITEM SEPARATOR
         MENUITEM "~Topic search   Ctrl+F1",1
    END
END


BITMAP 1003 Vision.bmp


DLGTEMPLATE 1004         /* Aboutbox */
BEGIN
    DIALOG  "About this program", 1004,100,20,215,183
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        GROUPBOX "",1005,25,75,164,107
            STYLE WS_VISIBLE|WS_GROUP
        BITMAP "#1003",1005,42,85,162,100
            STYLE WS_VISIBLE|WS_GROUP
        CTEXT      "Speed Developers environment V1.0 for OS/2",20000, 35, 60,146,7
            STYLE WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_RED
        CTEXT      "Copyright (C) 1994 Rene NÅrnberger",20000,35, 52,146,7
            STYLE WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
        CTEXT      "All rights reserved.",20000,35,44,146,7
            STYLE WS_VISIBLE
            PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_BLACK
        DEFPUSHBUTTON "~OK", 1000,90,24,40,14
            STYLE WS_VISIBLE
    END
END

DLGTEMPLATE 1005
BEGIN
    DIALOG  "Compiler options", 1005,50,20,295,185
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        GROUPBOX "Code generation",1006,15,135,130,35
            STYLE WS_VISIBLE|WS_GROUP
        AUTOCHECKBOX "~Generate assembler source",1007,30,150,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~Double word align data",1008,30,140,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        GROUPBOX "Syntax options",1009,150,135,130,35
            STYLE WS_VISIBLE|WS_GROUP
        AUTOCHECKBOX "Complete ~boolean eval",1010,165,150,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "O~ptimize",1011,165,140,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        GROUPBOX "Runtime errors",1012,15,70,130,55
            STYLE WS_VISIBLE|WS_GROUP
        AUTOCHECKBOX "R~ange checking",1013,30,105,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~Stack checking",1014,30,95,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~I/O checking",1015,30,85,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "O~verflow checking",1015,30,75,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        GROUPBOX "Action on 'Compile'",1012,150,70,130,55
            STYLE WS_VISIBLE|WS_GROUP
        AUTORADIOBUTTON "Run Co~mpiler",1013,165,105,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "Run ~Assembler",1014,165,95,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "Run Re~source Compiler",1015,165,85,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "File E~xtension",1015,165,75,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        LTEXT "Conditional defines",1016,15,55,100,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1017,15,48,260,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        DEFPUSHBUTTON "~OK", 1000,70,18,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1001,130,18,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Help", 1002,180,18,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1006
BEGIN
    DIALOG  "Memory sizes", 1006,110,50,200,120
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "Stack size:",1016,25,90,65,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1017,100,95,40,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        LTEXT "System heap size:",1018,25,70,65,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1019,100,75,40,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        LTEXT "Extra heap size:",1020,25,50,65,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1021,100,55,40,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        DEFPUSHBUTTON "~OK", 1000,30,24,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1001,80,24,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Help", 1002,130,24,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1007
BEGIN
    DIALOG  "Linker options", 1007,110,40,200,160
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        GROUPBOX "Data segment",1006,15,115,150,35
            STYLE WS_VISIBLE|WS_GROUP
        AUTORADIOBUTTON "~Single shared",1007,30,130,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "~Multiple nonshared",1008,30,120,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        GROUPBOX "Code options",1006,15,50,150,55
            STYLE WS_VISIBLE|WS_GROUP
        AUTORADIOBUTTON "~Uses Presentation manager API",1007,30,80,120,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "Com~patible with PM windowing",1008,30,70,120,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "~Not compatible with PM windowing",1008,30,60,120,10
            STYLE WS_VISIBLE|WS_TABSTOP

        DEFPUSHBUTTON "~OK", 1000,30,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1001,80,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Help", 1002,130,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1008
BEGIN
    DIALOG  "Directories", 1008,90,50,240,140
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "BIN directory:",1020,10,110,70,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1021,80,115,140,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        LTEXT "Output directory:",1021,10,90,70,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1021,80,95,140,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        LTEXT "Library directories:",1022,10,70,70,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1021,80,75,140,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        LTEXT "Project directory:",1023,10,50,70,10
            STYLE WS_VISIBLE
        ENTRYFIELD "",1021,80,55,140,7
            STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        DEFPUSHBUTTON "~OK", 1000,40,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1001,100,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Help", 1002,160,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1009
BEGIN
    DIALOG  "Preferences", 1009,90,60,295,120
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        GROUPBOX "Screen sizes",1006,15,65,130,35
            STYLE WS_VISIBLE|WS_GROUP
        AUTORADIOBUTTON "25 lines",1007,30,80,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTORADIOBUTTON "50 lines",1008,30,70,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        GROUPBOX "Auto save",1009,150,65,130,35
            STYLE WS_VISIBLE|WS_GROUP
        AUTOCHECKBOX "~Editor files",1010,165,80,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "En~vironment",1011,165,70,100,10
            STYLE WS_VISIBLE|WS_TABSTOP

        DEFPUSHBUTTON "~OK", 1000,60,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1001,110,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Help", 1002,160,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1010
BEGIN
    DIALOG  "Editor Options", 1010,90,60,220,120
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        GROUPBOX "Editor options",1009,20,45,180,65
            STYLE WS_VISIBLE|WS_GROUP
        AUTOCHECKBOX "Create ~backups",1010,30,85,80,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~Insert mode",1011,30,75,80,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~Auto indent mode",1012,30,65,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~Syntax highlight",1013,30,55,100,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "~Return to last dir",1014,110,85,80,10
            STYLE WS_VISIBLE|WS_TABSTOP
        AUTOCHECKBOX "Change ~dir on open",1015,110,75,80,10
            STYLE WS_VISIBLE|WS_TABSTOP

        DEFPUSHBUTTON "~OK", 1000,40,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1001,90,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Help", 1002,140,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1011
BEGIN
    DIALOG "Find",1011,110,100,200,77
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "Text to find:",1009,5,60,60,8
          STYLE WS_GROUP|WS_VISIBLE
        ENTRYFIELD "",1012,65,60,120,8
          STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP
        AUTOCHECKBOX "C~ase Sensitive",1013,15,40,80,10
          STYLE WS_VISIBLE|WS_GROUP|WS_TABSTOP
        AUTOCHECKBOX "F~rom cursor",1014,100,40,90,10
          STYLE WS_VISIBLE|WS_GROUP|WS_TABSTOP
        DEFPUSHBUTTON "~Find",1015,40,10,40,12
          STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel",1016,120,10,40,12
         STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1012
BEGIN
    DIALOG "Replace",1012,110,90,200,100
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "Text to find:",1009,5,85,60,8
          STYLE WS_GROUP|WS_VISIBLE
        ENTRYFIELD "",1012,65,85,120,8
          STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP
        LTEXT "Replace with:",1009,5,60,60,8
          STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
        ENTRYFIELD "",1012,65,60,120,8
          STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP
        AUTOCHECKBOX "C~ase Sensitive",1013,15,35,80,10
          STYLE WS_VISIBLE|WS_GROUP|WS_TABSTOP
        AUTOCHECKBOX "F~rom cursor",1014,100,35,90,10
          STYLE WS_VISIBLE|WS_GROUP|WS_TABSTOP

        DEFPUSHBUTTON "~Replace",1015,40,10,40,12
          STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel",1016,120,10,40,12
         STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1013
BEGIN
    DIALOG "Go to Line Number",1013,110,100,200,57
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "Enter new line nunber:",1009,15,40,85,8
          STYLE WS_GROUP|WS_VISIBLE
        ENTRYFIELD "",1012,100,40,30,8
          STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP
        DEFPUSHBUTTON "~Ok",1015,40,10,40,12
          STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel",1016,120,10,40,12
         STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1014
BEGIN
    DIALOG "Program Parameters:",1014,110,100,200,57
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "Parameter:",1009,8,40,40,8
          STYLE WS_GROUP|WS_VISIBLE
        ENTRYFIELD "",1012,50,40,140,8
          STYLE WS_VISIBLE|ES_MARGIN|ES_AUTOSCROLL|WS_TABSTOP

        DEFPUSHBUTTON "~Ok",1015,40,10,40,12
          STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel",1016,120,10,40,12
         STYLE WS_GROUP|WS_VISIBLE|WS_TABSTOP
    END
END

DLGTEMPLATE 1015
BEGIN
    DIALOG  "Project control", 1015,60,40,270,150
       STYLE FS_DLGBORDER|WS_VISIBLE
       FLAGS FCF_NOBYTEALIGN|FCF_TITLEBAR|FCF_SYSMENU
       PRESPARAMS PP_FONTNAMESIZE, "8.Helv"
    BEGIN
        LTEXT "Projects registered:",1011,20,130,70,10
            STYLE WS_VISIBLE
        CONTROL "",1010,20,60,230,70
            TYPE WC_LISTBOX
            STYLE WS_VISIBLE|WS_GROUP|CBS_DROPDOWNLIST
            FLAGS NO_FLAGS

        DEFPUSHBUTTON "~Open", 1000,15,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~New", 1001,65,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Modify", 1002,115,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Delete", 1003,165,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
        PUSHBUTTON "~Cancel", 1004,215,20,40,14
            STYLE WS_VISIBLE|WS_TABSTOP
    END
END